services:
  # =======================================================
  # 1. SERVICIO DE BASE DE DATOS (mssql2025)
  # =======================================================
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-RC1-ubuntu-24.04
    container_name: mssql
    hostname: mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Pass123!
    ports:
      - "1434:1433"
    networks:
      - dev-network2
    volumes:
      - ./biblioteca_setup.sql:/tmp/mssql-init.sql
    healthcheck:
      test: >
        /opt/mssql-tools18/bin/sqlcmd
        -S localhost
        -C
        -U sa
        -P Pass123!
        -Q "SELECT 1"
        -b -o /dev/null
      interval: 1s
      timeout: 30s
      retries: 30
      start_period: 20s


  # =======================================================
  # 2. INICIALIZACIÓN DE BASE DE DATOS
  # =======================================================
  mssql-init:
    image: mcr.microsoft.com/mssql-tools:latest
    container_name: mssql-init
    restart: "no"
    depends_on:
      mssql:
        condition: service_healthy
    networks:
      - dev-network2
    volumes:
      - ./biblioteca_setup.sql:/tmp/mssql-init.sql
    command: >
      /bin/sh -c "
        /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P Pass123! -Q \"IF DB_ID('BibliotecaDB') IS NULL CREATE DATABASE BibliotecaDB\" &&
        until /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P Pass123! -Q \"SELECT name FROM sys.databases WHERE name='BibliotecaDB'\" | grep -q BibliotecaDB;
        do echo 'Esperando que BibliotecaDB esté disponible...'; sleep 2; done &&
        /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P Pass123! -d BibliotecaDB -i /tmp/mssql-init.sql
      "

  # =======================================================
  # 2. SERVICIO DE APLICACIÓN (biblioteca_web)
  # =======================================================
  proyecto_demo_bibliteca:
    build:
      context: .
    container_name: proyecto_demo_bibliteca
    ports:
      - "2222:22"
      - "5001:5001"
    volumes:
      - .:/root/ProyectoDemoBiblioteca
    networks:
      - dev-network2
    depends_on:
      - mssql-init

# =======================================================
# 3. REDES (Las define Docker Compose)
# =======================================================
networks:
  dev-network2:
    driver: bridge
